@import "./libs/mini-reset.scss";
@import "./libs/variables";

a {
    &:link {
        text-decoration: none;
        color: initial;
    }

    &:visited {

    }

    &:hover {

    }

    &:active {

    }

    &:focus {

    }
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

//* Titres *//
h1 {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 0.7em;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 0.5em;
}

//* Mise en page *//
p {
    padding-bottom: 0.5em;
}

.txt {

    &__center {
        @extend .txt;
        text-align: center;
    }

    &__justify {
        @extend .txt;
        text-align: justify;
    }

    &__left {
        @extend .txt;
        text-align: left;
    }
}

//* Disposition colonne ou rangée *//
.flex {
    display: flex;

    &__col {
        @extend .flex;
        flex-direction: column;
    }

    &__row {
        @extend .flex;
        flex-direction: row;
    }
}

//* Alignement *//
.container {
    padding: 1em;

    &__center {
        @extend .container;
        justify-content: space-around;
    }
}

//* Vignettes *//
.mini {
	justify-content: flex-start;
	background-color: white;
	box-shadow: 0em 0em 0.5em grey;
	margin: 1em;
	padding: 0.3em;
    border-radius: $mini_radius;
    
    .img {
        border-radius: $top_radius;
        width: 100%;
        height: 15em;
        object-fit: cover;
    }

    .desc {
        flex-direction: column;
        border: 0;
        padding: 0;
        padding-top: 1em;
        padding-bottom: 0.5em;
        padding-left: 1em;
    }
}

//* Champ de recherche *//
#localization {
    background-color: $dark_gray;
    padding-left: 1em;
    margin: 0;
    height: auto;

    ::placeholder {
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 1.3em;
        padding-left: 1em;
    }

    .field {
        border: none;
        background-color: $dark_gray;
        height: 2em;
        padding-top: 0.5em;
    }
}

//* ID *//
#how_to {
    background-color: $light_gray;
}

#steps {

    li {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        margin-left: 1.5em;
    }

    .ico {
        height: 10px;
        width: 10px;
        padding-right: 2.5em;
        padding-left: 2em;
    }
}

#footer {
    background-color: #111111;
    color: #ffffff;

    h2 {
        font-family: Shrikhand;
    }

    ul li {
        padding-bottom: 0.5em;
    }

    ul li a {
        color: #ffffff;
    }

    .ico {
        height: 1em;
        width: 1em;
        margin-right: 0.8em;
    }
}