@import "./libs/mini-reset.scss";
@import "./libs/fonts.scss";
@import "./libs/variables";
@import "./libs/id.scss";
@import "./libs/medias.scss";
@import "./libs/button.scss";
@import "./libs/tiles.scss";
@import "./libs/badge.scss";

a {
    &:link {
        text-decoration: none;
        color: initial;
    }

    &:visited {
        text-decoration: none;
        color: initial;
    }

    &:hover {

    }

    &:active {

    }

    &:focus {

    }
}

//* Disposition colonne ou rangée *//
.flex {
    display: flex;

    &__col {
        @extend .flex;
        flex-direction: column;
    }

    &__row {
        @extend .flex;
        flex-direction: row;
    }
}

.space {

    &__between {
        justify-content: space-between;
    }

    &__around {
        justify-content: space-around;
    }
}

.width {

    &__100 {
        width: 100%;
    }
}

.no_flex {

    &__block {
        display: block;
    }

    &__inline {
        display: inline;
    }
}

.no_wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


//* Alignement *//
.container {
    padding: 1em;

    &__center {
        @extend .container;
        align-items: center;
        justify-content: center;
    }
}

.float {

    &__right {
        float: right;
    }

    &__left {
        float: left;
    }
}

