<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OhMyFood!</title>
    <link rel="stylesheet" href="../style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shrikhand:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/54c1824395.js" crossorigin="anonymous"></script>
</head>
<body class="flex__col font__text">
	<!-- Header -->
	<header>
		<!-- Lien précédent -->
		<a class="previous" href="../index.html">
			<i class="fas fa-arrow-left fa-lg"></i>
		</a>
		<!-- Logo -->
		<div class="flex container__center">
        	<div class="logo">
				<img src="../img/ohmyfood@2x.svg" alt="ohmyfood">
			</div>
		</div>
	</header>
	<!-- Image du restaurant -->
	<div>
		<img class="photo__big" src="../img/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="La palette du goût">
	</div>
	<!-- Nom du restaurant -->
	<section class="tiles__big">
        <div class="flex_row">
            <h1 class="font__title padding__left">La palette du goût</h1>
            <i class="float__right heart__title far fa-heart fa-2x"></i>
        </div>
        <div class="font__text">
            <h3>Entrées</h3>
            <div class="tiles__dish">
                <h2>Tartare de poulpe acidulé</h2>
                <p>Aux zestes d'orange</p>
                <h2 class="price">25€</h2>
            </div>
            <div class="tiles__dish">
                <h2>Velouté de légumes d'antan</h2>
                <p>Carotte, panais, topinambour</p>
                <h2 class="price">35€</h2>
            </div>
            <div class="tiles__dish">
                <h2>Soupe à l'oignon</h2>
                <p>Revisitée</p>
                <h2 class="price">20€</h2>
            </div>
        </div>
        <div class="font__text">
            <h3>Plats</h3>
            <div class="tiles__dish">
                <h2>Coquilles Saint-Jacques</h2>
                <p>Accompagnées d'une purée de panais</p>
                <h2 class="price">40€</h2>
            </div class="tiles__dish">
            <div class="tiles__dish">
                <h2>Magret de canard</h2>
                <p>Et parmentier de pommes de terre</p>
                <h2 class="price">35€</h2>
            </div>
            <div class="tiles__dish">
                <h2>Pigeonneau d’Ille-et-Vilaine</h2>
                <p>Sur son lit de gnocchis aux légumes</p>
                <h2 class="price">44€</h2>
            </div>
        </div>
        <div class="font__text">
            <h3>Desserts</h3>
            <div class="tiles__dish">
                <h2>Pétales de violettes glacés</h2>
                <p>Et purée de noisettes</p>
                <h2 class="price">18€</h2>
            </div>
            <div class="tiles__dish">
                <h2>Fondant au chocolat</h2>
                <p>Revisité</p>
                <h2 class="price">22€</h2>
            </div>
            <div class="tiles__dish">
                <h2>Millefeuille croustillant</h2>
                <p>Myrtilles et pâte d’amande</p>
                <h2 class="price">23€</h2>
            </div>
        </div>
	</section>
	<!-- Footer -->
	<footer id="footer">
        <div class="flex container txt__left font__text">
            <ul>
                <li>
                    <h2>ohmyfood</h2>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Proposer un restaurant"
                    target="_self">
                    <span><i class="fas fa-utensils ico"></i>Proposer un restaurant</span>
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Devenir partenaire"
                    target="_self">
                    <span><i class="fas fa-hands-helping ico"></i>Devenir partenaire</span>
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Mentions légales"
                    target="_self">
                    Mentions légales
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Contact"
                    target="_self">
                    Contact
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>