<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OhMyFood!</title>
    <link rel="stylesheet" href="../style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shrikhand:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/54c1824395.js" crossorigin="anonymous"></script>
</head>
<body class="flex__col font__text">
	<!-- Header -->
	<header>
		<!-- Lien précédent -->
		<a class="previous" href="../index.html">
			<i class="fas fa-arrow-left fa-lg"></i>
		</a>
		<!-- Logo -->
		<div class="flex container__center">
        	<div class="logo">
				<img src="../img/ohmyfood@2x.svg" alt="ohmyfood">
			</div>
		</div>
	</header>
	<!-- Image du restaurant -->
	<div>
		<img src="../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="La palette du goût">
	</div>
	<!-- Nom du restaurant -->
	<section class="flex container">
		<h1 class="font__title">La palette du goût</h1>
	</section>
	<!-- Footer -->
	<footer id="footer">
        <div class="flex container txt__left">
            <ul>
                <li>
                    <h2>ohmyfood</h2>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Proposer un restaurant"
                    target="_self">
                    <span><i class="fas fa-utensils ico"></i>Proposer un restaurant</span>
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Devenir partenaire"
                    target="_self">
                    <span><i class="fas fa-hands-helping ico"></i>Devenir partenaire</span>
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Mentions légales"
                    target="_self">
                    Mentions légales
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Contact"
                    target="_self">
                    Contact
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>