<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OhMyFood!</title>
    <link rel="stylesheet" href="../style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shrikhand:400,500,600,700,900' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/54c1824395.js" crossorigin="anonymous"></script>
</head>
<body class="flex__col font__text">
	<!-- Header -->
	<header>
		<!-- Lien précédent -->
		<a class="previous" href="../index.html">
			<i class="fas fa-arrow-left fa-lg"></i>
		</a>
		<!-- Logo -->
		<div class="flex container__center">
        	<div class="logo">
				<img src="../img/ohmyfood@2x.svg" alt="ohmyfood">
			</div>
		</div>
	</header>
	<!-- Image du restaurant -->
	<div>
		<img class="photo__big" src="../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="La palette du goût">
	</div>
	<!-- Nom du restaurant -->
	<section class="tiles__big">
        <div class="flex_row">
            <h1 class="font__title padding__left">La palette du goût</h1>
            <i class="float__right heart__title far fa-heart fa-2x"></i>
        </div>
        <div class="font__text">
            <h3>Entrées</h3>
            <div class="tiles__dish">
                <h2>Tartare de thon</h2>
                <p>Assaisonné au yuzu</p>
                <h2 class="price">25€</h2>
            </div>
            <div class="tiles__dish">
                <h2>Bouchée de homard croustillant</h2>
                <p>Et sa farandole de petits légumes</p>
                <h2 class="price">35€</h2>
            </div>
            <div class="tiles__dish">
                <h2>Velouté de cèpes</h2>
                <p>Aux truffes</p>
                <h2 class="price">20€</h2>
            </div>
        </div>
        <div class="font__text">
            <h3>Plats</h3>
            <div class="tiles__dish">
                <h2>Poulet rôti aux herbes de Provence</h2>
                <p>Et sa crème de truffe</p>
                <h2 class="price">40€</h2>
            </div class="tiles__dish">
            <div class="tiles__dish">
                <h2>Langouste rôtie</h2>
                <p>Et ses légumes de saison</p>
                <h2 class="price">35€</h2>
            </div>
            <div class="tiles__dish">
                <h2>Côte de boeuf Angus</h2>
                <p>Et sa purée de panais</p>
                <h2 class="price">44€</h2>
            </div>
        </div>
        <div class="font__text">
            <h3>Desserts</h3>
            <div class="tiles__dish">
                <h2>Farandole de desserts</h2>
                <p>Du chef</p>
                <h2 class="price">18€</h2>
            </div>
            <div class="tiles__dish">
                <h2>Crème brulée</h2>
                <p>Revisitée</p>
                <h2 class="price">22€</h2>
            </div>
            <div class="tiles__dish">
                <h2>Tiramisu</h2>
                <p>À la noisette</p>
                <h2 class="price">23€</h2>
            </div>
        </div>
	</section>
	<!-- Footer -->
	<footer id="footer">
        <div class="flex container txt__left font__text">
            <ul>
                <li>
                    <h2>ohmyfood</h2>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Proposer un restaurant"
                    target="_self">
                    <span><i class="fas fa-utensils ico"></i>Proposer un restaurant</span>
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Devenir partenaire"
                    target="_self">
                    <span><i class="fas fa-hands-helping ico"></i>Devenir partenaire</span>
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Mentions légales"
                    target="_self">
                    Mentions légales
                    </a>
                </li>
                <li>
                    <a href="MISC/404.html"
                    title="Contact"
                    target="_self">
                    Contact
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>